*.mscx,
*.mscz
*.mscz,
*.pdf
*.DS_Store
*_bak.mscx
*_tmp.mscx
*.svg
songs.json
*.mtime
update.log
*.mp3
*.m4a
*/piano/*
.node-persist/*
*.aux
*.fdb_latexmk
*.fls
*.log
*.synctex.gz
songs.tex
*.toc
*.db
*.eps
*piano/piano.mscx
